.form-icon .icons {
    top: 10px;
}
.section 
{
    padding: 90px 0;
}
.btn.btn-sm {
    padding: 7px 16px;
    font-size: 14px;
}
#topnav .navigation-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}